// Variables colores
//$rojo: #b04747;
$rojo: #B04747;
//$amarillo: #e6de0f;
$amarillo: #eef0a1;
//$gris: #cacaca;
$gris: #9b9b9b;

// Variables familia textos
$fuenteTitulo: "Fredoka One";
$fuenteTexto: "Lato";


// Paleta generada a partir de #CF3A3A, Highlight Palette
$rojo-generado: #CF3A3A;
$rojo-claro-generado: #E19990;
$amarillo-generado: #F3EED9;
$gris-generado: #798897;


// Segunda paleta generada a partir de #B04747, Highlight Palette
$rojo-generado: #B04747;
$rojo-claro-generado: #FF7475;
$amarillo-generado: #F3EED9;
$gris-generado: #798897;