// Variables colores
$rojo: #b04747;
$amarillo: #e6de0f;
$gris: #cacaca;

// Variables familia textos
$fuenteTitulo: "Fredoka One";
$fuenteTexto: "Lato";


// Paleta generada a partir de #CF3A3A, Highlight Palette
$rojo-generado: #CF3A3A;
$rojo-claro-generado: #E19990;
$amarillo-generado: #F3EED9;
$gris-generado: #798897;