.main {
    width: 100%;

    .main__titulo {
        text-align: center;   
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .main__principal {
        display: flex;
        flex-direction: column;
    
        .principal__funcionamiento {
            @include main-sections;
            
            .funcionamiento__acordeon {
                width: 90%;
                max-width: 120em;
                //background-color: lightblue;
                padding: 2em;
                //@include neo(1, 1em, 1em);
            }
            .funcionamiento__acordeon .acordeon__bloque {
                //background-color: red;
                margin: 0 0 1em;
                padding: 1em;
                border: 1px solid black;
            }
            .funcionamiento__acordeon .bloque__h3 {
                //background-color: lime;
                margin: 0 0 1em;
                padding: 1em;
                border: 1px solid black;
            }
            .funcionamiento__acordeon .bloque__contenido {
                //background-color: orange;
                height: 0;
                padding: 0em;
                overflow: hidden;
                border: 1px solid black;
                transition: all .5s ease;
            }
        
            .funcionamiento__acordeon .acordeon__bloque.activo .bloque__contenido {
                height: 4em
            }
        }
        .principal__personajes {
            @include main-sections;
        }
        .principal__escenarios {
            @include main-sections;
        }
        .principal__multimedia {
            @include main-sections;
        }
    }
}