.main {
    width: 100%;

    .main__titulo {
        text-align: center;   
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .main__principal {
        display: flex;
        flex-direction: column;
    
        // ACORDEON
        .principal__funcionamiento {
            @include main-sections;
            height: 520px;
            
            .funcionamiento__acordeon {
                //width: 90%;
                //max-width: 120em;
                //background-color: lightblue;
                padding-top: 30px;
                padding-left: 1em;
                padding-right: 1em;
            }
            .funcionamiento__acordeon .acordeon__bloque {
                //background-color: red;
                //margin: 0 0 1em;
                padding: 1em;
                //border: 1px solid black;
            }
            .funcionamiento__acordeon .bloque__h3 {
                //background-color: lime;
                margin: 0 0 1em;
                padding: 1em;
                border: 1px solid black;
                border-radius: 20px;
                cursor: pointer;
                text-align: center;
            }
            .funcionamiento__acordeon .bloque__contenido {
                //background-color: orange;
                height: 0;
                padding: 0em;
                overflow: hidden;
                //border: 1px solid black;
                transition: all .5s ease;
                text-align: center;
            }
        
            .funcionamiento__acordeon .acordeon__bloque.activo .bloque__contenido {
                height: 4em
            }
        }


        //TABS
        .principal__personajes {
            @include main-sections;
            
            .personajes__contenedor {
                width: 90%;
                max-width: 120em;
                //background-color: lightgray;
                padding: 1em;
            }
            .personajes__contenedor .contenedor__ul {
                width: 100%;
                //background-color: lightblue;
                display: flex;
                flex-flow: row nowrap;
                justify-content : flex-start;
                align-items: center;
            }
            .personajes__contenedor .ul__li {
                //background-color: lightgreen;
                padding: 1em;
                margin:0 1em 0 0;
                border: 1px solid black;
                list-style: none;
                transition: all .5s ease;
                width: 200px;
                text-align: center;
            }
            .personajes__contenedor .ul__li.activo {
                background-color: lightskyblue;
                color: white;
            }
            .personajes__contenedor .contenedor__subcontenedor {
                min-height: 10vh;
                //background-color: lightsalmon;
                position: relative;
            }
            .personajes__contenedor .subcontenedor__bloque {
                //background-color: lightseagreen;
                opacity: 0;
                margin: 1em;
                padding: 1em;
                position: absolute;
                top: 2em;
                transition: all .5s ease;
            }
            .personajes__contenedor .subcontenedor__bloque.activo {
                opacity: 1;
            }
        }


        //CARRUSEL
        .principal__escenarios {
            @include main-sections;

            .escenarios__carrusel {
                width: 90%;
                max-width: 120em;
                padding: 2em;
            }
            .escenarios__carrusel .carrusel__grande {
                width: 400%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 2em;

                transition: all .5s ease;
                transform: translateX(0%);
            }
            .escenarios__carrusel .grande__img {
                width: calc(100% / 4);
                min-height: 10vh;
                border: 1px solid black;
            }
            .escenarios__carrusel .carrusel__puntos {
                width: 100%;
                padding: .4em;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                list-style: none;
                margin: 1em 0 0;
            }
            .escenarios__carrusel .puntos__punto {
                width: 2em;
                height: 2em;
                margin: 1em 1em 0;
                border: 1px solid black;
            }
            .escenarios__carrusel .puntos__punto.activo {
                background-color: orange
            }
        }


        //NO HE
        .principal__multimedia {
            @include main-sections;
        }
    }
}