.header {
    background-color: $rojo;
    width: 100%;
    
    position: relative;
    height: 100px;

    .header__logo {
        position: absolute;
        margin-top: 0px;
        margin-bottom: 0px;
        left: 40px;
        top: 30px;
        height: 70px;
    }
    .header__navegador {
        display: flex;
        gap: 25px;
        justify-content: center;
        padding-top: 48px;

        a {
            border: 1px black solid;
            border-radius: 10px;
            background-color: $gris;
            padding: 12px;
            text-decoration: none;
            box-shadow: 2px 2px black;

            font-family: $fuenteTitulo;
        }
        a:hover {
            background-color: $amarillo;
            transition: all .4s ease;
        }
    }
}
